.offer-cashback {
	display: flex;
	justify-content: space-between;
	height: 100%;
	color: $white;

	@include mq('xxl') {
		flex-direction: column;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		max-width: 450px;
		min-height: 100%;
		padding: 20px 0;

		&:not(:last-child) {
			margin-right: 30px;

			@include mq('xxl') {
				margin-right: 0;
			}
		}

		@include mq('xxl') {
			justify-content: flex-start;
			max-width: 100%;
			min-height: auto;
			padding: 30px 20px;
		}
	}

	&__label {
		margin-bottom: 16px;
		border: 1px solid $white;
		@include adaptiv-value('font-size', 14, 12, 1);

		&--fill {
			color: $orange-400;
			background-color: $white;
		}
	}

	&__title {
		color: $white;
		font-weight: $fw-600;
		line-height: 1.3;
		@include adaptiv-value('font-size', 32, 24, 1);
		@include adaptiv-value('margin-bottom', 30, 12, 1);

		&--small {
			@include adaptiv-value('font-size', 30, 22, 1);
		}
	}

	&__stroke {
		color: transparent;
		-webkit-text-stroke: 1px $white;
		text-stroke: 1px $white;
	}

	&__subtitle {
		display: inline-block;
		color: $orange-500;
		font-size: 36px;
	}

	&__text {
		position: relative;
		font-weight: $fw-400;
		line-height: 1.5;
		letter-spacing: 0.18px;
		@include adaptiv-value('padding-top', 15, 6, 1);

		@include mq('phone') {
			font-size: 12px;
		}

		&--decor {
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: rgba($white, 0.6);
				content: '';
			}
		}

		b {
			font-weight: $fw-600;
		}

		ul {
			padding-left: 20px;
			list-style: outside;

			@include mq('phone') {
				padding-left: 16px;
			}
		}
	}

	&__links {
		@include mq('phone') {
			width: 100%;
		}
	}

	&__link {
		font-weight: $fw-600;
		border-radius: 12px;

		@include mq('phone') {
			width: 100%;
			font-size: 12px;
		}

		&:not(:last-child) {
			@include adaptiv-value('margin-right', 15, 10, 1);
		}
	}

	&__link.btn--more {
		color: $orange-500;
		background-color: $white;

		&::before {
			filter: invert(59%) sepia(79%) saturate(1102%) hue-rotate(356deg)
				brightness(103%) contrast(104%);

			@include mq('phone') {
				right: 18px;
				width: 12px;
				height: 12px;
			}
		}

		@include mq('phone') {
			padding: 8px 23px 8px 17px;
		}
	}

	&__link.btn--border {
		padding: 14px 33px;
		color: $white;
		font-weight: $fw-700;
		border-color: $white;
		border-width: 2px;
		border-radius: 12px;

		@include mq('phone') {
			padding: 8px 23px;
		}
	}

	&__subtext {
		@include adaptiv-value('font-size', 24, 14, 1);
		padding-bottom: 8px;
		line-height: 1.1;

		@include mq('phone') {
			font-size: 14px;
		}

		.offer-cashback__accent {
			font-weight: $fw-600;
		}
	}

	&__images {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
	}

	&__bg {
		position: relative;
		display: flex;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__person {
		position: absolute;
		bottom: 0;
		z-index: 2;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}
